name: CI

on:
  push:
    branches: [ master, main ]

  pull_request:
    branches: [ master, main, next, beta, '*.x' ]

  schedule:
    - cron: '0 2 * * *'

  workflow_dispatch: {}

jobs:
  Job:
    name: Node.js
    uses: artusjs/github-actions/.github/workflows/node-test.yml@v1
    # 支持以下自定义配置，一般用默认值即可
    # with:
      os: 'ubuntu-latest, macos-latest'
      version: '14, 16, 18'
